<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="{% static 'mi_app/styles.css' %}">
</head>
<body>
    <header>
        
        <h1>Acerca de mí</h1>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'buscar_libro' %}">Buscar Usuario</a></li>
                <li><a href="{% url 'crear_autor' %}">Crear Usuario</a></li>
                <li><a href="{% url 'crear_editorial' %}">Crear Perfil</a></li>
                <li><a href="{% url 'crear_libro' %}">Crear Rol</a></li>
                <li><a href="{% url 'about' %}">Acerca de mí</a></li>
    
            </ul>
        </nav>
    </header>
    <main>
        <h2>Sobre los creadores</h2>
        <p>Este proyecto fue creado por Federico Wahlers, la idea es que el usuario aprenda a crear un usuaio y manejarse por la interfaz web viendo como se almacenan los datos de este mismo
            
            
            
            
            <h2>USUARIO ADMIN: admin
            PASSWORD: admin123</h2>




         



        </p>
    </main>
    <footer>
        <p>&copy; 2024 Mi Aplicación Django.</p>
    </footer>
</body>
</html>
